// All Our Dependencies
@import "../../../bower_components/bourbon/app/assets/stylesheets/_bourbon.scss";
@import "../libs/bootstrap/css/bootstrap.css";
@import "../libs/bootstrap-material-design/css/roboto.css";
@import "../libs/bootstrap-material-design/css/material-fullpalette.css";
@import "../libs/bootstrap-material-design/css/ripples.css";
//=== === ===
// Our SASS Files
@import "includes/varibles";
@import "includes/mixins";
@import "includes/stack";
// Some Styles...

@include font-face("BebasBold", "../fonts/BebasBold", $file-formats: eot woff svg ttf);
@include font-face("helveticaneuelight", "../fonts/helveticaneuelight", $file-formats: eot woff woff2 svg ttf);


$green_l: #009688;	
$babes_b: BebasBold, "Helvetica Neue", "Helvetica", "Roboto", "Arial";
$helv_n_light: helveticaneuelight, "Helvetica Neue", "Helvetica", "Roboto", "Arial";

html,
body {
	font-size: $font-size-base;
}

img {
	max-width: 100%;
}

.wrapper {
	background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/paper.png"), linear-gradient(180deg, #e1f2f1, #bae0de), center no-repeat #e1f2f1 scroll;
	height: 100%;
	min-height: 950px;
	overflow-x: hidden;
	width: 100%;
}

.start_page.navbar,
.about_page.navbar {
	background: #FFF;
	color: $green_l;
}

.start_page.container {
	font: 19px/24px $helv_n_light;
	height: 33vh;
	@include position(absolute, 0  0 0 0);
	margin: auto;
	p:last-child {
		margin: 55px 0 0;
	}
}

.start_page,
.about_page {

	.nav {
		a {
			font: 1.2rem/1 $babes_b;
			position: relative;
			&:after,
			&:before {
				background-color: $green_l;
				content: '';
				display: block;
				position: absolute;
			}

			&:before {
				background: $green_l;
				height: 1px;
				bottom: 18px;
				padding: 0 0 0 20px;
			}

			&:after {
			    top: 50%;
			    margin: -14px 0 0;
			    left: 0px;
				@include size(1px, 24px);
			}
		}


		li:first-child {
			a:after {
				display: none;
			}
			a:before {
				width: 38px;
			}
		}

		li:nth-child(2) {
			a:before {
				width: 70px;
			}
		}

		li:nth-child(3) {
			a:before {
				width: 42px;
			}
		}

	}

}

.logo {
	font: 2rem/1em $babes_b;
	padding-left: 15px;
	line-height: 60px;
}

.about_page.container {
	height: auto;
	position: static;
	margin-top: 80px;

	h2 {
		margin: 0 0 30px;
	}
	
	.col-lg-12 {
		margin-bottom: 50px;
	}	
	
	.img-thumbnail {
		margin: 20px 0 0;
	}

}

.workout_main {
	background: url("https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/textures/inverted/paper.png"), linear-gradient(180deg, #faf8f2, #EAE8E3), center no-repeat #faf8f2 scroll;
	
	.nav {
		margin-left: 300px;
		height: 56px;

		a {
			font: 1.2rem/1 $babes_b;
			letter-spacing: 1px;
		}
	}

	.work_card {
		margin: 0 0 35px;

		p {
			color: #859900;
			font: bold 19px/24px $helv_n_light;
			margin: 10px 0 0;
		}
	}

}

.profile_card {
	
	margin: -140px 0 0;

	.img-thumbnail {
		padding: 10px;
	}

	&_list {
		padding: 0 0 0 20px;
		margin: 20px 0 0;
		list-style: none;

		li {
			margin: 0 0 6px;
		}
	}

}

.statistics, 
.profile,
.exercises {
	.navbar {
		margin: 0 0 45px;
	}

	.profile_card {
		margin: 0;
	}

	.nav-pills {
		li {
			text-align: center;
			width: 25%;
		}
		li + li {
			margin: 0;
		}

		.badge {
			background: #3f51b5;
			line-height: 30px;
			@include size(30px,30px);
			border-radius: 50%;
			padding: 0;
		}
	}

	&_user {
		background: #FFF;
		padding: 10px 15px 20px;

		.list-group {
			margin: -16px 0 0;
		}

		.row-picture {
			margin: -20px 0 0;
		}

		.list-group-item {
			overflow: visible; 
		}

		.row-content {
			line-height: 56px;
		}

		.list-group-item-heading {
			margin-top: 5px;
		}

	}
}

.profile {
	h1 {
		margin: 0 0 20px -20px;
	}

	.form-horizontal {
		background: #FFF;
		padding: 30px 40px 10px;
		min-height: 600px;
	}

	.form-horizontal .form-group:last-child {
		margin: 40px -15px 20px;
	}

	.statistics_user {
		margin: 0 0 30px;
	}

	.control-label {
		text-align: left;
	}

	.action-group {
		padding: 0;
		.active {
			color: #333;
		}
	}

	.action-group-item {
		background-color: #fff;
    	border: 1px solid #ddd;
    	padding: 10px 15px;
    	overflow: auto;
	}

	.action-group-item:first-child {
	    border-top-left-radius: 4px;
	    border-top-right-radius: 4px;
	}

	.action-group-item:last-child {
	    border-bottom-left-radius: 4px;
	    border-bottom-right-radius: 4px;
	}

	.list-group-item {
		.row-content {
			min-height: 36px;
		}	
	}

	.ng-valid {
		color: #4caf50
	}

	.ng-invalid {
		color: #ff5722;
	}

}

.exercises {
	.icon-preview {
		display: inline-block;		
	}

	.btn-fab {
		border-radius: 0;
	    padding: 0;
	    height: 30px;
	    line-height: 40px;
	    width: 30px;
	}

	.col-md-1 {
		padding: 0;
	}

	.panel-body {
		img {
			max-width: 100%;
		}
	}

	&_item {
		.well {
			background-color: transparent;
			box-shadow: none;
		}	
	}
	


}

.hide {
	display: none !important;
}

@media (max-width: 1199px) {
	.navbar .navbar-nav > li > a {
		padding-top: 17px;
	}	
}
